# This is a H1

## This is an H2

This is the **code** I used for my first Python program.
---

> This is a indented blockquote.

---

```print ("Hello World")```


| Syntax | Description |
| ----------- | ----------- |
| Person | Age |
| Bob   | 55 | 
| Mary | 35|

# Variable Examples

In [1]:
a = 2
b = 3

c = a+b

print(c)

5

## Assignment Operators

This is a method for assigning values to variables.

In [15]:
name = 'Bob'
print(name)

# This is an example of an additive operator
x = 5
x += 3

print(x)

Bob
8

In [16]:
# This is an example of a subtractive operator
x = 5

x -= 3

print(x)

2

In [17]:
# This is an example of a multiplication operator
x = 5

x *= 3

print(x)

15

In [18]:
# This is an example of a division operator
x = 10

x /= 3

print(x)

3.3333333333333335

### Modulus example
This example returns the modulus (remainder) for the variable calculation

In [19]:
x = 10

x %= 3

print(x)

1

How many times will one object go into another. In this example we're trying to see how many times 3 goes into 10.

In [20]:
x = 10

x //= 3

print(x)

3

### Scientific notation example
This represents something to the power of something.

In [21]:
x = 10

x **= 3

print(x)

1000

### Round "down" to the nearest whole number.

In [22]:
x = 16

y = 3

print(x // y)

5

# Arithmetic operators

In [23]:
x = 5
y = 3

print(x+y)

8

In [24]:
# Example of subtraction

print(x-y)

2

In [25]:
# Multiplication example
print(x*y)

15

In [26]:
# Division example
print (x/y)

1.6666666666666667

In [27]:
# Return the whole number only in a calculation

x = 15
y = 2

print (x//y)

7

In [29]:
# Return the remainder only in a calculcation

print (x % y)

1

In [30]:
# Exponent example

x = 10 
y = 3

print (x ** y)

1000

# Comparison Operator examples

In [31]:
x = 10
y = 3

print (x == y)

False

In [32]:
# Not equal 
x = 10
y = 3

print (x != y)

True

In [33]:
# Greater than 

x = 10
y = 3

print (x>y)

True

In [34]:
# Less than
x = 10
y = 3

print (x<y)

False

In [37]:
# Greater than or equal to
x = 10
y = 11

print (x >= y)

False

In [39]:
# Less than or equal to
x = 10
y = 9

print (x <= y)

False

# Logical Operators

In [41]:
# AND operator example

x = 10

print (x>2 and x <10)

False

In [42]:
# OR operator example

x = 10

print(x>2 or x<9)

True

In [44]:
# NOT operator example

x = 10

print (not(x>2 and x<11))

False

# Identity operators

In [61]:
# IN example

x = ['truck', 'car', 'suv']

print('Truck' in x)

False

In [46]:
# NOT IN example

print('truck' not in x)

False

# Data Type examples

## Numeric Data Type

In [49]:
x = 5.5e10

print(type(x))

<class 'float'>

In [50]:
# complex "magical"

x = 5 * 1j

print(x)

5j

## Text

In [52]:
x = "Hello Bob"

print(x)

Hello Bob

In [53]:
# Multi-line string example

x = """Hello Bob,

This is a multi-line string"""

print(x)

Hello Bob,

This is a multi-line string

In [56]:
# Show index location of a String

x = "Hello Bob"

print(x[4])

o

In [58]:
# Concatenate String
x = "Hello "
y = "Bob"

print (x + y)

Hello Bob

In [59]:
# UPPERCASE
x = "Hello Bob"

print(x.upper())

HELLO BOB

In [60]:
# UPPERCASE
x = "Hello Bob"

print(x.lower())

hello bob

In [63]:
# Escape characters

x = "Hello Bob, this is \"awesome\""

print(x)

Hello Bob, this is "awesome"

# Code Comments

In [ ]:
# This is a single line comment

print("Hello World")

'''This is a multi
line comment '''

# Indentation example

In [65]:
x = 10
y = 5

if x > y:
    print("x is greater than y")
else:
    print("y is greater than x")

x is greater than y